/node_modules
/public/hot
/public/storage
/public/uploads/avatars
/public/uploads/documents
!/public/uploads/avatars/default_user_icon.png
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
